/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* add some designer font family that looks curvy */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* cursive font family */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* luxury font family */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    overflow-x: hidden;
}
.nav{
    height: 60px;
    margin: 50px;
    padding: 10px;
    /* width: ; */
}
.nav>ul{
    text-align: center;
}
.nav>ul>li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}
.nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding-left: 50px;
    font-weight: 700;
}
.nav>ul>li>a:hover{
    color: rgb(153, 153, 228);
}
#logo{
    font-size: x-large;
    float: left;
    text-decoration: none;
    font-weight: 300;  
    color: rgb(255, 255, 255);
   
    font-family: 'Playfair Display', serif;
}
#logli{
    float: right;
}
#Login{
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}
#Login:hover{
    background-color: rgba(0, 0, 0, 0.508);
    color: white;
    transition: .2s;
}
.hero{
    overflow: visible;
    border: .5px solid rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    display: flex;
    height: fit-content;
    z-index: -1;
    
}
.hero-tex{
    padding-left:150px ;
    height: 80%;
}
.hero-text{
    font-size: 250px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;  
    overflow: visible;
    align-items: center;
    justify-content: center;
    text-align: left;
   padding-top: 100px;
    z-index: 1;
}
.heroimg{
  width: 100%;
  height: 100%;
}
.heroimg>img{
 
    top: -100px;
    right: 50px;
    object-fit: cover;
    overflow: visible;
    position: absolute;
   z-index: -1;

}
#Explore{
    margin-left: 50px;
   height: max-content;
   width: max-content;
   padding: 15px;
   font-size: large;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.548);
    border: #ffffff solid 2px;
    color: white;

}
#Explore:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .2s;
    font-weight: 600;
}
/* ===========BACKGROUND STARS================ */
#canvas{
    position: absolute;
    z-index: -1000;
    width: 85vw;
    height: 120vh;
}
/* ============Gallrey========== */
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
}
.box1 img{
    height: 60vh;
    width: 20vw;
    border-radius: 15px; 
    object-fit: cover;
    filter:drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.434));
    z-index: -1;
}
.box1{
    overflow: hidden;
    height: 60vh;
    width: 20vw;
    border-radius: 15px; 
    filter:drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.434));
}
.box1>img:hover{
    filter:drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.534));
    transition: .2s;
    transform: scale(1.03);
    z-index: 11;
    overflow: hidden;
}
.ViewMore{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.ViewMore button{
    margin-top: 250px;
   height: max-content;
   width: max-content;
   padding: 25px;
   font-size: large;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.548);
    border: #ffffff solid 2px;
    color: white;

}
.ViewMore button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .2s;
    font-weight: 800;
    border: black solid 2px;

}


/* ============+Shopping Cards================ */

h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width: 100%;

}
.shop{
  width: 100%;
}
.card > figure {
    width: 100%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
    height: 100%;
}

.details {
    background-color: #ffffff39;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 70%;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}


.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
    width:100%;
    overflow: hidden;
}

.footer {
    z-index: 1;
    --footer-background:rgb(164, 71, 37);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    width: 100%;
  }
.footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
    
  }
  .footer .bubbles .bubble {
    
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
    
  }
 .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }
   .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
 .footer .content b {
    color: white;
  }
.footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
   .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.footer .content > div > div {
    margin: 0.25rem 0;
  }
  .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
 .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  /* ===============Content CSS================== 
*/
.eventcontainer{
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 2fr;

}
.eventheading h1{
  font-size: 40px;
  font-weight: 800;
  height: fit-content;
  margin: 50px;
}
.contentimage>img{
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  border-radius: 50px;
}
.contenttext{
  padding-top: 100px;
}
#spantext{
  font-size: 20px;
  
}
.buttons{
  padding-top: 40px;
}

.eventcontainerright{
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contentright{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;

}
.eventheadingright h1{
  font-size: 40px;
  font-weight: 800;
  height: fit-content;
  margin: 50px;
}
.contentimageright>img{
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  border-radius: 50px;
}
.contenttextright{
  padding-top: 100px;
}
.buttonsright{
  padding-top: 40px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: 200px;
  grid-auto-flow: row dense;
  grid-gap: 23px;
  justify-content: center;
}

.card-top,
.card-right,
.card-bottom,
.card-left {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border-radius: 95.2380952381px;
  box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
}

.card-top {
  flex-direction: column;
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}

.card-right {
  flex-direction: row-reverse;
  grid-column: auto/span 2;
  grid-row: auto/span 1;
}

.card-bottom {
  flex-direction: column-reverse;
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}

.card-left {
  flex-direction: row;
  grid-column: auto/span 2;
  grid-row: auto/span 1;
}

.card-image {
  display: flex;
}

.card-top .card-image,
.card-bottom .card-image {
  height: 50%;
  width: 100%;
}

.card-left .card-image,
.card-right .card-image {
  height: 100%;
  width: 50%;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}

.card-top img {
  border-radius: 95.2380952381px 95.2380952381px 0 0;
}

.card-right img {
  border-radius: 0 95.2380952381px 95.2380952381px 0;
}

.card-bottom img {
  border-radius: 0 0 95.2380952381px 95.2380952381px;
}

.card-left img {
  border-radius: 95.2380952381px 0 0 95.2380952381px;
}

.card-text {
  align-self: center;
  padding: 23px;
}

.card-top .card-text {
  height: auto;
  width: auto;
  padding-bottom: 36.8px;
}

.card-right .card-text {
  height: auto;
  width: 50%;
  padding-left: 36.8px;
}

.card-bottom .card-text {
  height: auto;
  width: auto;
  padding-top: 36.8px;
}

.card-left .card-text {
  height: auto;
  width: 50%;
  padding-right: 36.8px;
}

.card-text p {
  margin: 0;
  line-height: 1.35em;
  color: #ffffff;
}

@media (max-width: 500px) {
  .card-top {
    flex-direction: row;
    grid-column: auto/span 2;
    grid-row: auto/span 1;
  }

  .card-bottom {
    flex-direction: row-reverse;
    grid-column: auto/span 2;
    grid-row: auto/span 1;
  }

  .card-top .card-image,
  .card-bottom .card-image {
    height: 100%;
    width: 50%;
  }

  .card-top img {
    border-radius: 95.2380952381px 0 0 95.2380952381px;
  }

  .card-bottom img {
    border-radius: 0 95.2380952381px 95.2380952381px 0;
  }

  .card-top .card-text {
    height: auto;
    width: 50%;
    padding-right: 36.8px;
  }

  .card-bottom .card-text {
    height: auto;
    width: 50%;
    padding-left: 36.8px;
  }
}
@media (max-width: 400px) {
  .card-image {
    width: 38% !important;
  }

  .card-text {
    width: 62% !important;
  }
}

